.tabellone {
    margin: 200px auto;
    border: 8px solid red;
}

.spazio {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
}
.spazio:hover {
    background-color: red;
}

.stanza {
    width: 20px;
    height: 20px;
    background-color: #000000;
}

.campo {
    width: 20px;
    height: 20px;
    background-color: #4285f4;
}

.pascolo {
    width: 20px;
    height: 20px;
    background-color: #fbbc05;
}
