.wrapper {
    width: 400px;
    margin: 120px auto;
    background-color: white;
}

.risorsa {
    /*display: inline-block;*/
    width: 200px;
    /*height: 100px;*/
    background-color: #ff0000;
    text-align: center;
    font-size: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 20px;
}

.button {
    /*display: inline-block;*/
    width: 120px;
    height: 100px;
    background-color: #ff0000;
    /*border: 5px solid red;*/
    font-size: 15px;
    text-align: center;
    margin-left: 60px;
    border-radius: 120px;
}

/*.button:hover {background-color: red;}*/

.riga {
    width: 100%;
    height: 10px;
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: 80px;
}

#legno {
  background-color: #824200; color: #ffffff; 
}
#argilla {
  background-color: #C21212; color: #ffffff; 
}
#pietra {
  background-color: #000000; color: #ffffff; 
}
#canna {
  background-color: #FFE1B0; 
}
#grano {
  background-color: #FFBF18; color: #000000; 
}
#ortaggio {
  background-color: #ffa420; color: #000000; 
}
#cibo {
  background-color: #00C200; color: #000000;
}
#pecora {
  background-color: #F1F1B4; color: #000000; border-radius: 250px;
}
#cinghiale {
  background-color: #000000; color: #ffffff; border-radius: 250px;
}
#bestiame {
  background-color: #622100; color: #ffffff; border-radius: 250px;
}
