.tabellone {
    margin: 200px auto;
    /* border: 8px solid red; */
    width: 1100px;
    cursor: none;
}
.tabellone table tr td {
    padding: 0;
}

.spazio {
    width: 22px;
    height: 22px;
    background-color: #ffffff;
}
.spazio:hover, .stanza:hover, .campo:hover, .pascolo:hover {
    background-color: red;
}

.stanza {
    width: 22px;
    height: 22px;
    background-color: #000000;
    margin: 0;
}

.campo {
    width: 22px;
    height: 22px;
    background-color: #4285f4;
}

.pascolo {
    width: 22px;
    height: 22px;
    background-color: #000000;
    border-radius: 11px;
}
